* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.all-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.window {
  width: 100%;
  height: 100%;
}

.chat-list {
  float: left;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30%;
  overflow: auto;
  background: grey;
}

.chat-list > * {
  border-bottom: 1px solid purple;
}

.chat-part {
  float: left;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
  background: black;
  border-left: 1px solid purple;
}

.head {
  height: 60px;
  background: red;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  height: 50px;
  padding: 10px 16px;
  display: flex;
  align-items: center;
}

.search-bar {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  background: white;
  display: flex;
  align-items: center;
}

.search-bar i {
  margin-left: 15px;
  margin-right: 20px;
}

.search-bar input {
  width: calc(100% - 70px);
  border: 0;
}

.search-bar input:focus {
  outline: none;
}

.prev {
  height: 70px;
  background: orange;
  padding: 10px 16px;
  display: flex;
  align-items: center;
}

.prev:hover {
  background-color: yellow;
}

.chat {
  height: calc(100% - 120px);
  overflow: auto;
  background-image: url(msg-background.jpg);
  background-size: cover;
}

.write {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background: red;
}

.write i {
  display: block;
  width: 50px;
  text-align: center;
}

.write-bar {
  height: 100%;
  width: 100%;
  border-radius: 30px;
  background: white;
  display: flex;
  align-items: center;
}

.write-bar input {
  margin-left: 15px;
  border: 0;
  width: calc(100% - 30px);
}

.write-bar input:focus {
  outline: none;
}

.message-box::after {
  content: "";
  display: table;
  clear: both;
}

.img-profile {
  margin-right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url(Pasted_image_at_2019-03-11__11_08_AM.png);
  background-size: cover;
}

.head i {
  display: block;
  line-height: 50px;
  text-align: center;
  width: 50px;
  height: 50px;
}

.left, .right {
  display: flex;
  align-items: center;
}

.message-box {
  width: 100%;
  padding: 10px;
}

.message {
  max-width: 80%;
  padding: 15px;
}

.myMes {
  float: right;
  background-color: green;
}

.rispMes {
  float: left;
  background-color: white;
}




@media screen and (min-width: 1200px) {
  .window {
    width: 90%;
    height: 90%;
  }
}
